<!DOCTYPE html>
<html>
    <head>
        <title><h2>Calculadora</h2></title>
    </head>
    <body>
        <div class="contenedor">
        <form>
            <div class="pantalla">
                <br>
                <input type="text" name="pantalla">
            </div>
            <div class="botones">
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 7 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 8 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 9 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> x </button>
            </div>
            <div class="botones">
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 4 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 5 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 6 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> / </button>
            </div>
            <div class="botones">
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 1 </button> 
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 2 </button> 
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 3 </button> 
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> + </button> 
            </div>
            <div class="botones">
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> c </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> 0 </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> = </button>
                <button style="border: 2px solid black; border-radius: 4px; width: 40px; height:25px;"> - </button>
            </div>
            <br>
        </form>
    </div>
    </body>
</html>
