<!DOCTYPE html>
<html>
    <head>
        <title><h2>Calculadora</h2></title>
    </head>
    <body>
        <form>
        <div class="contenedor">
            <div class="pantalla">
                <input type="text" name="pantalla">
            </div>
            <div class="botones">
                <div class="boton"> <button>1</button> </div>
                <div class="boton"> <button>2</button> </div>
                <div class="boton"> <button>3</button> </div>
                <div class="boton"> <button>+</button> </div>
            </div>
            <div class="botones">
                <div class="boton"> <button>4</button> </div>
                <div class="boton"> <button>5</button> </div>
                <div class="boton"> <button>6</button> </div>
                <div class="boton"> <button>-</button> </div>
            </div>
            <div class="botones">
                <div class="boton"> <button>7</button> </div>
                <div class="boton"> <button>8</button> </div>
                <div class="boton"> <button>9</button> </div>
                <div class="boton"> <button>x</button> </div>
            </div>
            <div class="botones">
                <div class="boton"> <button>c</button> </div>
                <div class="boton"> <button>0</button> </div>
                <div class="boton"> <button>=</button> </div>
                <div class="boton"> <button>/</button> </div>
            </div>
        </div>
        </form>
    </body>
</html>