.contenedor{
    position: absolute;
    top: 25%;
    left: 38%;
    margin: 2%;
    border: 10px solid black;
    width:20%;
    background:#B4BDD1;
}

.pantalla{
    text-align: center;
    border: 1%;
}

.botones{
    text-align: center;
}
